body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    height: 100%;
    flex-direction: column;

}
main {
    margin: 0 auto;
    /* или: align-self: center */
    max-width: 80ch;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}



.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 70%;
    border: none;
}
.table thead th {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #444441;
    border-top: 2px solid #716561;
    border-bottom: 2px solid #716561;
}
.table tbody td {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #444441;
    border-top: 1px solid #716561;
}



.footer{
    background:#000;
    font-family: 'Play', sans-serif;
    text-align:center;
    flex-shrink: 0;
    padding: 50px;
    margin-top: auto;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row a:hover{
    color:#fff;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    text-align: center;
    margin:0 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0 1%;
}



