{% extends 'base.twig' %}

{% block body %}
    <form action="/auth-post" method="POST">
        <fieldset>
            <legend>Аутентификация</legend>
            <label>Логин:<br>
                <input type="text" name="login"></label><br>
            <label>Пароль:<br>
                <input type="text" name="password"></label><br>
        </fieldset>
        <input type="submit">
    </form>
{% endblock %}