<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Comments</title>
</head>
<body>
<header>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/api/feedbacks/?page=1">Просмотр коментариев</a></li>
        <li><a href="/insert">Добавление</a></li>
        <li><a href="/delete/">Удаление по id</a></li>
        <li><a href="/admin">Войти в админку</a></li>
        <li><a href="/adminunset">Выйти из админки</a></li>
        <li><a href="/api/feedbacks/1">Просмотр по странице</a></li>
        <li>
                <input type="text" id="id" placeholder="введите id"/>
                <button type="button" id="get">Получить список</button>
        </li>
        <script>
            function getData() {
                const request = new XMLHttpRequest();
                const id = parseInt(document.querySelector('#id').value);
                const url = '/api/feedbacks/?page='+id;
                request.open('GET', url);
                request.setRequestHeader('Content-Type', 'application/json');
                request.addEventListener("readystatechange", () => {
                    if (request.readyState === 4 && request.status === 200) {
                        document.open();
                        document.write( request.responseText );
                    }
                });
                request.send();
            }
            document.querySelector('#get').addEventListener('click', () => {
                getData();
            });
        </script>
    </ul>
</header>


{% block body %} {% endblock %}


<footer class="footer">
    <div class="row">
        <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Comments</a></li>
        </ul>
    </div>

    <div class="row">
        webSite Copyright © 2023 Practica - All rights reserved <br> Designed By: Koshelev Andrey
    </div>
</footer>




</body>
</html>