{% extends 'base.twig' %}
{% block body %}
        <table class="table">
            <tbody>
            <tr>
                <td>id</td>
                <td>Name</td>
                <td>Comment</td>
                <td>Data</td>
            </tr>
            {% for com in coms  %}
            <tr>
                <td>{{ com.id | escape }} </td>
                <td>{{ com.name | escape }} </td>
                <td>{{ com.text | escape }} </td>
                <td>{{ com.date | escape }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}