{% extends 'base.twig' %}

{% block body %}
    <form action="/insert-post" method="POST" name="inputForm">
        <fieldset>
            <legend>Добавление</legend>
            <label>Имя:<br>
                <input type="text" id="name" name="name"></label><br>
            <label>Коммент:<br>
                <input type="text" id="text" name="text"></label><br>
            <label>Дата<br>
                <input type="text" id="date" name="date"></label><br>
        </fieldset>
        <input type="submit" name="btn">

    </form>
    <script>

        function getData() {
            const request = new XMLHttpRequest();
           // const id = parseInt(document.querySelector('#id').value);
            const name= document.querySelector('#name').value;
            const text= document.querySelector('#text').value;
            const date= document.querySelector('#date').value;
            const url = '/insert-post';
            const params = "name=" + name+ "&text=" + text+"&date=" + date;
            request.responseType =	"json";
            request.open("POST", url, true);
            request.setRequestHeader('Content-Type', 'application/json');
            request.addEventListener("readystatechange", () => {
                if (request.readyState === 4 && request.status === 200) {
                    document.open();
                    document.write( request.responseText );
                }
            });
            request.send(params);
        }
        document.querySelector('#btn').addEventListener('click', () => {
            getData();
        });
</script>
{% endblock %}